In [1]:
import findspark 
findspark.init() 

import pyspark 
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import IntegerType

sc = SparkSession.builder.master("spark://192.168.1.109:7077").appName("NYC Traffic").getOrCreate()

sc

In [2]:
accidents = sc.read.option("header", "true").csv('file:///home/jorge/NYPD_Motor_Vehicle_Collisions.csv')

In [3]:
accidents.printSchema()

root
 |-- DATE: string (nullable = true)
 |-- TIME: string (nullable = true)
 |-- BOROUGH: string (nullable = true)
 |-- ZIP CODE: string (nullable = true)
 |-- LATITUDE: string (nullable = true)
 |-- LONGITUDE: string (nullable = true)
 |-- LOCATION: string (nullable = true)
 |-- ON STREET NAME: string (nullable = true)
 |-- CROSS STREET NAME: string (nullable = true)
 |-- OFF STREET NAME: string (nullable = true)
 |-- NUMBER OF PERSONS INJURED: string (nullable = true)
 |-- NUMBER OF PERSONS KILLED: string (nullable = true)
 |-- NUMBER OF PEDESTRIANS INJURED: string (nullable = true)
 |-- NUMBER OF PEDESTRIANS KILLED: string (nullable = true)
 |-- NUMBER OF CYCLIST INJURED: string (nullable = true)
 |-- NUMBER OF CYCLIST KILLED: string (nullable = true)
 |-- NUMBER OF MOTORIST INJURED: string (nullable = true)
 |-- NUMBER OF MOTORIST KILLED: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 1: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 2: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 3: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 4: string (nullable = true)
 |-- CONTRIBUTING FACTOR VEHICLE 5: string (nullable = true)
 |-- UNIQUE KEY: string (nullable = true)
 |-- VEHICLE TYPE CODE 1: string (nullable = true)
 |-- VEHICLE TYPE CODE 2: string (nullable = true)
 |-- VEHICLE TYPE CODE 3: string (nullable = true)
 |-- VEHICLE TYPE CODE 4: string (nullable = true)
 |-- VEHICLE TYPE CODE 5: string (nullable = true)

Query #1

In [4]:
accidents.createOrReplaceTempView("accidents")

#sqlAccidents = sc.sql("SELECT SUM(`NUMBER OF PERSONS KILLED`) as KILLS FROM accidents")
#sqlAccidents.show()

accidentsFormatDate = accidents.withColumn("DATE", to_timestamp(col("DATE"), "MM/dd/yyyy"))
accidentsAddNumWeek = accidentsFormatDate.withColumn("week of year", date_format(col("DATE"), "w"))
accidentsQ1 = accidentsAddNumWeek.withColumn("week of year", col("week of year").cast(IntegerType()))
#accidentsQ1.printSchema()

accidentsQ1.createOrReplaceTempView("accidentsQ1")
query1 = sc.sql("SELECT SUM(`NUMBER OF PERSONS KILLED`) AS KILLS, YEAR(DATE) AS YEAR, `week of year` AS WEEK FROM accidentsQ1 WHERE (`NUMBER OF PERSONS KILLED` IS NOT NULL) GROUP BY YEAR(DATE),`week of year` ORDER BY YEAR(DATE),`week of year`")

query1.show(query1.count())

+-----+----+----+
|KILLS|YEAR|WEEK|
+-----+----+----+
|  2.0|2012|   1|
|  3.0|2012|  27|
|  6.0|2012|  28|
|  4.0|2012|  29|
|  7.0|2012|  30|
|  5.0|2012|  31|
|  7.0|2012|  32|
|  1.0|2012|  33|
|  9.0|2012|  34|
|  7.0|2012|  35|
|  2.0|2012|  36|
|  6.0|2012|  37|
|  9.0|2012|  38|
|  7.0|2012|  39|
|  4.0|2012|  40|
|  2.0|2012|  41|
|  8.0|2012|  42|
|  8.0|2012|  43|
|  3.0|2012|  44|
|  2.0|2012|  45|
|  3.0|2012|  46|
|  4.0|2012|  47|
|  3.0|2012|  48|
|  1.0|2012|  49|
|  5.0|2012|  50|
|  9.0|2012|  51|
| 10.0|2012|  52|
| 11.0|2013|   1|
|  4.0|2013|   2|
|  4.0|2013|   3|
|  5.0|2013|   4|
|  9.0|2013|   5|
|  4.0|2013|   6|
|  5.0|2013|   7|
|  5.0|2013|   8|
|  6.0|2013|   9|
|  9.0|2013|  10|
|  5.0|2013|  11|
|  5.0|2013|  12|
|  3.0|2013|  13|
|  7.0|2013|  14|
|  1.0|2013|  15|
|  3.0|2013|  16|
|  3.0|2013|  17|
|  3.0|2013|  18|
|  3.0|2013|  19|
|  6.0|2013|  20|
|  1.0|2013|  21|
|  5.0|2013|  22|
|  4.0|2013|  23|
|  9.0|2013|  24|
|  3.0|2013|  25|
|  7.0|2013|  26|
|  3.0|2013|  27|
|  6.0|2013|  28|
|  2.0|2013|  29|
|  7.0|2013|  30|
|  8.0|2013|  31|
|  4.0|2013|  32|
| 15.0|2013|  33|
|  8.0|2013|  34|
|  6.0|2013|  35|
|  3.0|2013|  36|
|  7.0|2013|  37|
|  7.0|2013|  38|
|  9.0|2013|  39|
|  4.0|2013|  40|
|  6.0|2013|  41|
|  3.0|2013|  42|
|  6.0|2013|  43|
|  6.0|2013|  44|
|  7.0|2013|  45|
|  9.0|2013|  46|
|  4.0|2013|  47|
| 14.0|2013|  48|
|  5.0|2013|  49|
|  6.0|2013|  50|
|  7.0|2013|  51|
|  5.0|2013|  52|
|  7.0|2014|   1|
|  7.0|2014|   2|
|  4.0|2014|   3|
|  4.0|2014|   4|
|  3.0|2014|   5|
|  4.0|2014|   6|
|  4.0|2014|   7|
|  3.0|2014|   8|
|  3.0|2014|   9|
|  4.0|2014|  10|
|  2.0|2014|  11|
|  5.0|2014|  12|
|  6.0|2014|  13|
|  9.0|2014|  14|
|  3.0|2014|  15|
|  3.0|2014|  16|
|  4.0|2014|  17|
|  5.0|2014|  18|
|  5.0|2014|  19|
|  6.0|2014|  20|
|  9.0|2014|  21|
|  4.0|2014|  22|
|  8.0|2014|  23|
|  6.0|2014|  24|
|  4.0|2014|  25|
|  3.0|2014|  26|
|  7.0|2014|  27|
|  4.0|2014|  28|
|  6.0|2014|  29|
|  7.0|2014|  30|
| 11.0|2014|  31|
|  2.0|2014|  32|
|  3.0|2014|  33|
|  3.0|2014|  34|
|  9.0|2014|  35|
|  5.0|2014|  36|
|  8.0|2014|  37|
|  5.0|2014|  38|
|  6.0|2014|  39|
|  6.0|2014|  40|
|  4.0|2014|  41|
|  5.0|2014|  42|
|  3.0|2014|  43|
|  7.0|2014|  44|
|  9.0|2014|  45|
|  6.0|2014|  46|
|  4.0|2014|  47|
|  5.0|2014|  48|
|  4.0|2014|  49|
|  3.0|2014|  50|
|  3.0|2014|  51|
|  2.0|2014|  52|
|  2.0|2015|   1|
|  5.0|2015|   2|
|  4.0|2015|   3|
|  3.0|2015|   4|
|  2.0|2015|   5|
|  2.0|2015|   6|
|  3.0|2015|   7|
|  6.0|2015|   8|
|  5.0|2015|   9|
|  3.0|2015|  10|
|  1.0|2015|  11|
|  7.0|2015|  12|
|  2.0|2015|  13|
|  5.0|2015|  14|
|  4.0|2015|  15|
|  4.0|2015|  16|
|  3.0|2015|  17|
|  6.0|2015|  18|
|  5.0|2015|  19|
|  8.0|2015|  20|
|  5.0|2015|  21|
|  9.0|2015|  22|
|  6.0|2015|  23|
|  1.0|2015|  24|
|  5.0|2015|  25|
|  5.0|2015|  26|
| 10.0|2015|  27|
|  4.0|2015|  28|
|  4.0|2015|  29|
|  3.0|2015|  30|
|  4.0|2015|  31|
|  6.0|2015|  32|
|  3.0|2015|  33|
|  7.0|2015|  34|
|  4.0|2015|  35|
|  2.0|2015|  36|
|  6.0|2015|  37|
|  3.0|2015|  38|
|  3.0|2015|  39|
|  2.0|2015|  40|
|  7.0|2015|  41|
|  9.0|2015|  42|
|  5.0|2015|  43|
|  2.0|2015|  44|
|  8.0|2015|  45|
|  7.0|2015|  46|
|  4.0|2015|  47|
|  6.0|2015|  48|
|  7.0|2015|  49|
|  7.0|2015|  50|
|  6.0|2015|  51|
|  3.0|2015|  52|
|  0.0|2016|   1|
|  4.0|2016|   2|
|  7.0|2016|   3|
|  4.0|2016|   4|
|  2.0|2016|   5|
|  3.0|2016|   6|
|  5.0|2016|   7|
|  4.0|2016|   8|
|  1.0|2016|   9|
|  7.0|2016|  10|
|  4.0|2016|  11|
|  2.0|2016|  12|
|  4.0|2016|  13|
|  0.0|2016|  14|
|  5.0|2016|  15|
|  3.0|2016|  16|
|  2.0|2016|  17|
|  2.0|2016|  18|
|  6.0|2016|  19|
|  8.0|2016|  20|
|  3.0|2016|  21|
|  3.0|2016|  22|
|  2.0|2016|  23|
|  6.0|2016|  24|
|  8.0|2016|  25|
|  8.0|2016|  26|
|  8.0|2016|  27|
|  6.0|2016|  28|
|  4.0|2016|  29|
|  4.0|2016|  30|
|  1.0|2016|  31|
|  5.0|2016|  32|
|  5.0|2016|  33|
|  5.0|2016|  34|
|  6.0|2016|  35|
|  9.0|2016|  36|
|  3.0|2016|  37|
|  4.0|2016|  38|
|  3.0|2016|  39|
|  6.0|2016|  40|
|  5.0|2016|  41|
|  6.0|2016|  42|
|  5.0|2016|  43|
|  3.0|2016|  44|
|  5.0|2016|  45|
|  3.0|2016|  46|
|  8.0|2016|  47|
|  1.0|2016|  48|
|  2.0|2016|  49|
|  6.0|2016|  50|
|  4.0|2016|  51|
|  2.0|2016|  52|
|  7.0|2016|  53|
|  5.0|2017|   1|
+-----+----+----+

In [4]:
query1.createOrReplaceTempView("query1")
total = sc.sql("SELECT SUM(KILLS) FROM query1")
total.show()

+----------+
|sum(KILLS)|
+----------+
|    1173.0|
+----------+

Query #2

In [5]:
accidents.createOrReplaceTempView("accidentsQ2")
f1 = "(SELECT `CONTRIBUTING FACTOR VEHICLE 1` as FACTOR FROM accidentsQ2 WHERE (`CONTRIBUTING FACTOR VEHICLE 1` IS NOT NULL) AND (`CONTRIBUTING FACTOR VEHICLE 1` != 'Unspecified'))"
f2 = "(SELECT `CONTRIBUTING FACTOR VEHICLE 2` as FACTOR FROM accidentsQ2 WHERE (`CONTRIBUTING FACTOR VEHICLE 2` IS NOT NULL) AND (`CONTRIBUTING FACTOR VEHICLE 2` != 'Unspecified'))"
f3 = "(SELECT `CONTRIBUTING FACTOR VEHICLE 3` as FACTOR FROM accidentsQ2 WHERE (`CONTRIBUTING FACTOR VEHICLE 3` IS NOT NULL) AND (`CONTRIBUTING FACTOR VEHICLE 3` != 'Unspecified'))"
f4 = "(SELECT `CONTRIBUTING FACTOR VEHICLE 4` as FACTOR FROM accidentsQ2 WHERE (`CONTRIBUTING FACTOR VEHICLE 4` IS NOT NULL) AND (`CONTRIBUTING FACTOR VEHICLE 4` != 'Unspecified'))"
f5 = "(SELECT `CONTRIBUTING FACTOR VEHICLE 5` as FACTOR FROM accidentsQ2 WHERE (`CONTRIBUTING FACTOR VEHICLE 5` IS NOT NULL) AND (`CONTRIBUTING FACTOR VEHICLE 5` != 'Unspecified'))"

factors = sc.sql(f1 + "UNION"+ f2 + "UNION"+ f3 + "UNION" + f4 + "UNION"+ f5)

factors.createOrReplaceTempView("factorsTable")

u1 = "(SELECT factorsTable.FACTOR, accidentsQ2.`NUMBER OF PERSONS KILLED` FROM factorsTable JOIN accidentsQ2 ON factorsTable.FACTOR=accidentsQ2.`CONTRIBUTING FACTOR VEHICLE 1`)"
u2 = "(SELECT factorsTable.FACTOR, accidentsQ2.`NUMBER OF PERSONS KILLED` FROM factorsTable JOIN accidentsQ2 ON factorsTable.FACTOR=accidentsQ2.`CONTRIBUTING FACTOR VEHICLE 2`)"
u3 = "(SELECT factorsTable.FACTOR, accidentsQ2.`NUMBER OF PERSONS KILLED` FROM factorsTable JOIN accidentsQ2 ON factorsTable.FACTOR=accidentsQ2.`CONTRIBUTING FACTOR VEHICLE 3`)"
u4 = "(SELECT factorsTable.FACTOR, accidentsQ2.`NUMBER OF PERSONS KILLED` FROM factorsTable JOIN accidentsQ2 ON factorsTable.FACTOR=accidentsQ2.`CONTRIBUTING FACTOR VEHICLE 4`)"
u5 = "(SELECT factorsTable.FACTOR, accidentsQ2.`NUMBER OF PERSONS KILLED` FROM factorsTable JOIN accidentsQ2 ON factorsTable.FACTOR=accidentsQ2.`CONTRIBUTING FACTOR VEHICLE 5`)"

factorsAndKills = sc.sql(u1 + "UNION ALL" + u2 + "UNION ALL" + u3 + "UNION ALL" + u4 + "UNION ALL" + u5)

factorsAndKills.createOrReplaceTempView("query2")


query2 = sc.sql("SELECT FACTOR, COUNT(*) as ACCIDENTS, ROUND(AVG(`NUMBER OF PERSONS KILLED`)*100, 5) AS PERCENTAGE FROM query2 GROUP BY FACTOR ORDER BY ACCIDENTS")
query2.show(query2.count())

+--------------------+---------+----------+
|              FACTOR|ACCIDENTS|PERCENTAGE|
+--------------------+---------+----------+
|Shoulders Defecti...|       49|       0.0|
|Windshield Inadeq...|       51|       0.0|
|Driverless/Runawa...|       72|       0.0|
|Headlights Defective|       81|       0.0|
|Other Lighting De...|       90|       0.0|
| Tow Hitch Defective|       97|   1.03093|
|Cell Phone (hand-...|      133|       0.0|
|Cell Phone (hands...|      245|       0.0|
|Accelerator Defec...|      468|       0.0|
|      Animals Action|      554|       0.0|
|     Drugs (Illegal)|      625|      0.48|
|Traffic Control D...|      657|       0.0|
|Lane Marking Impr...|      699|       0.0|
|Pedestrian/Bicycl...|      834|   0.83933|
|    Steering Failure|      927|       0.0|
|Tire Failure/Inad...|      942|   0.10616|
|  Pavement Defective|     1170|   0.42735|
|         Fell Asleep|     1775|    0.4507|
|  Obstruction/Debris|     2113|   0.14198|
|               Glare|     2259|   0.04427|
|Failure to Keep R...|     2276|       0.0|
|        Unsafe Speed|     2599|   0.46172|
|    Brakes Defective|     2712|       0.0|
|             Illness|     2887|   0.10391|
|Other Electronic ...|     2936|   0.10218|
|Reaction to Other...|     3250|       0.0|
|Aggressive Drivin...|     3688|   0.16269|
|Unsafe Lane Changing|     3719|       0.0|
|Passing or Lane U...|     4579|   0.08736|
|View Obstructed/L...|     4730|   0.19027|
|Passenger Distrac...|     5476|   1.04091|
|   Oversized Vehicle|     6609|       0.0|
| Alcohol Involvement|     8563|   0.40874|
|Following Too Clo...|     8905|   0.17967|
| Physical Disability|    11915|   0.27696|
|   Pavement Slippery|    12034|   0.05817|
|Outside Car Distr...|    13029|   0.03838|
|Traffic Control D...|    15066|   1.02881|
| Driver Inexperience|    15083|   0.08619|
|Prescription Medi...|    19546|   0.04605|
|  Lost Consciousness|    26476|   0.03777|
|  Turning Improperly|    28968|   0.01726|
|    Backing Unsafely|    31260|   0.07038|
|     Other Vehicular|    48341|   0.03517|
|Failure to Yield ...|    49439|   0.19013|
|     Fatigued/Drowsy|    62616|   0.00479|
|Driver Inattentio...|   157004|   0.08344|
+--------------------+---------+----------+

Query #3

In [6]:
accidentsFormatDate = accidents.withColumn("DATE", to_timestamp(col("DATE"), "MM/dd/yyyy"))
accidentsAddNumWeek = accidentsFormatDate.withColumn("week of year", date_format(col("DATE"), "w"))
accidentsQ3 = accidentsAddNumWeek.withColumn("week of year", col("week of year").cast(IntegerType()))
accidentsQ3.createOrReplaceTempView("accidentsQ3")

boroughs = sc.sql("SELECT DISTINCT BOROUGH from accidentsQ3 WHERE BOROUGH!='0' ORDER BY BOROUGH")

boroughs.show()

+-------------+
|      BOROUGH|
+-------------+
|        BRONX|
|     BROOKLYN|
|    MANHATTAN|
|       QUEENS|
|STATEN ISLAND|
+-------------+

Stats for Bronx

In [7]:
query3A = sc.sql("SELECT YEAR(DATE) AS YEAR, `week of year` AS WEEK, COUNT(*) AS ACCIDENTS, ROUND(AVG(`NUMBER OF PERSONS KILLED`)*100,5) AS `% KILLS` FROM accidentsQ3 WHERE (`NUMBER OF PERSONS KILLED` IS NOT NULL) AND (BOROUGH = 'BRONX') GROUP BY YEAR(DATE),`week of year` ORDER BY YEAR(DATE),`week of year`")

query3A.show(query3A.count())

+----+----+---------+-------+
|YEAR|WEEK|ACCIDENTS|% KILLS|
+----+----+---------+-------+
|2012|   1|       96|    0.0|
|2012|  27|      402|    0.0|
|2012|  28|      366|0.81967|
|2012|  29|      351| 0.2849|
|2012|  30|      381|    0.0|
|2012|  31|      391|    0.0|
|2012|  32|      398|0.25126|
|2012|  33|      343|    0.0|
|2012|  34|      352|0.85227|
|2012|  35|      373|0.53619|
|2012|  36|      341|    0.0|
|2012|  37|      397|    0.0|
|2012|  38|      362|0.27624|
|2012|  39|      360|0.27778|
|2012|  40|      374|    0.0|
|2012|  41|      363|    0.0|
|2012|  42|      366|0.27322|
|2012|  43|      375|0.53333|
|2012|  44|      266|    0.0|
|2012|  45|      374|    0.0|
|2012|  46|      349|    0.0|
|2012|  47|      330|    0.0|
|2012|  48|      337|    0.0|
|2012|  49|      343|    0.0|
|2012|  50|      386|0.25907|
|2012|  51|      390|    0.0|
|2012|  52|      343|0.29155|
|2013|   1|      398|0.75377|
|2013|   2|      353|    0.0|
|2013|   3|      324|    0.0|
|2013|   4|      331|    0.0|
|2013|   5|      357|0.28011|
|2013|   6|      439|    0.0|
|2013|   7|      378|0.26455|
|2013|   8|      340|    0.0|
|2013|   9|      370|0.27027|
|2013|  10|      455|    0.0|
|2013|  11|      410| 0.2439|
|2013|  12|      394|    0.0|
|2013|  13|      337|    0.0|
|2013|  14|      342|    0.0|
|2013|  15|      373|    0.0|
|2013|  16|      394|    0.0|
|2013|  17|      397|    0.0|
|2013|  18|      360|    0.0|
|2013|  19|      382|0.26178|
|2013|  20|      426|0.46948|
|2013|  21|      409|    0.0|
|2013|  22|      430|0.23256|
|2013|  23|      445|    0.0|
|2013|  24|      424| 0.4717|
|2013|  25|      386|0.25907|
|2013|  26|      387| 0.2584|
|2013|  27|      413|    0.0|
|2013|  28|      396|0.25253|
|2013|  29|      408|    0.0|
|2013|  30|      347|0.28818|
|2013|  31|      414|    0.0|
|2013|  32|      352|    0.0|
|2013|  33|      368|    0.0|
|2013|  34|      374|    0.0|
|2013|  35|      324|0.61728|
|2013|  36|      342|    0.0|
|2013|  37|      412|0.24272|
|2013|  38|      418|    0.0|
|2013|  39|      389|0.25707|
|2013|  40|      386|0.25907|
|2013|  41|      329|0.30395|
|2013|  42|      377|    0.0|
|2013|  43|      348|0.28736|
|2013|  44|      347|0.57637|
|2013|  45|      365|0.54795|
|2013|  46|      390|0.51282|
|2013|  47|      368|0.27174|
|2013|  48|      385|    0.0|
|2013|  49|      359|    0.0|
|2013|  50|      374|    0.0|
|2013|  51|      407| 0.2457|
|2013|  52|      333|    0.0|
|2014|   1|      349|0.28653|
|2014|   2|      348|0.28736|
|2014|   3|      341|    0.0|
|2014|   4|      400|   0.25|
|2014|   5|      413|    0.0|
|2014|   6|      435|    0.0|
|2014|   7|      486|0.20576|
|2014|   8|      368|    0.0|
|2014|   9|      390|    0.0|
|2014|  10|      370|    0.0|
|2014|  11|      328|    0.0|
|2014|  12|      349|    0.0|
|2014|  13|      379|0.26385|
|2014|  14|      346|0.28902|
|2014|  15|      389|    0.0|
|2014|  16|      361|    0.0|
|2014|  17|      324|    0.0|
|2014|  18|      387| 0.2584|
|2014|  19|      376|    0.0|
|2014|  20|      352|    0.0|
|2014|  21|      366|0.27322|
|2014|  22|      399|    0.0|
|2014|  23|      400|   0.25|
|2014|  24|      377|    0.0|
|2014|  25|      419|    0.0|
|2014|  26|      447|    0.0|
|2014|  27|      387|    0.0|
|2014|  28|      398|    0.0|
|2014|  29|      350|    0.0|
|2014|  30|      390|0.25641|
|2014|  31|      347|    0.0|
|2014|  32|      367|0.27248|
|2014|  33|      349|    0.0|
|2014|  34|      360|    0.0|
|2014|  35|      376|    0.0|
|2014|  36|      400|   0.25|
|2014|  37|      402|0.24876|
|2014|  38|      403|0.24814|
|2014|  39|      414|0.24155|
|2014|  40|      381|0.26247|
|2014|  41|      375|    0.0|
|2014|  42|      354|    0.0|
|2014|  43|      355|0.28169|
|2014|  44|      389|    0.0|
|2014|  45|      366|    0.0|
|2014|  46|      353|0.28329|
|2014|  47|      400|    0.0|
|2014|  48|      363|0.27548|
|2014|  49|      378|    0.0|
|2014|  50|      401|    0.0|
|2014|  51|      409|    0.0|
|2014|  52|      313|    0.0|
|2015|   1|      405|    0.0|
|2015|   2|      416|0.48077|
|2015|   3|      355|    0.0|
|2015|   4|      489|    0.0|
|2015|   5|      311|    0.0|
|2015|   6|      406|    0.0|
|2015|   7|      372|    0.0|
|2015|   8|      376|    0.0|
|2015|   9|      281|    0.0|
|2015|  10|      545|    0.0|
|2015|  11|      409|    0.0|
|2015|  12|      358|0.55866|
|2015|  13|      357|    0.0|
|2015|  14|      352|0.28409|
|2015|  15|      346|0.28902|
|2015|  16|      412|0.24272|
|2015|  17|      372|    0.0|
|2015|  18|      409|    0.0|
|2015|  19|      429|    0.0|
|2015|  20|      416|0.48077|
|2015|  21|      419|0.23866|
|2015|  22|      403|0.24814|
|2015|  23|      448|0.44643|
|2015|  24|      364|    0.0|
|2015|  25|      412|0.24272|
|2015|  26|      495|    0.0|
|2015|  27|      377|0.26525|
|2015|  28|      431|    0.0|
|2015|  29|      422|    0.0|
|2015|  30|      398|    0.0|
|2015|  31|      428|    0.0|
|2015|  32|      448|0.22321|
|2015|  33|      452|    0.0|
|2015|  34|      412|    0.0|
|2015|  35|      382|    0.0|
|2015|  36|      422|    0.0|
|2015|  37|      450|0.44444|
|2015|  38|      403|0.49628|
|2015|  39|      399|    0.0|
|2015|  40|      387| 0.2584|
|2015|  41|      447|    0.0|
|2015|  42|      415|0.48193|
|2015|  43|      431|0.23202|
|2015|  44|      380|    0.0|
|2015|  45|      399|0.25063|
|2015|  46|      432|    0.0|
|2015|  47|      443|    0.0|
|2015|  48|      397|    0.0|
|2015|  49|      464|0.21552|
|2015|  50|      420|    0.0|
|2015|  51|      449|    0.0|
|2015|  52|      395|    0.0|
|2016|   1|       87|    0.0|
|2016|   2|      437|0.45767|
|2016|   3|      411|    0.0|
|2016|   4|      397|0.25189|
|2016|   5|      486|    0.0|
|2016|   6|      433|    0.0|
|2016|   7|      379|    0.0|
|2016|   8|      354|    0.0|
|2016|   9|      400|    0.0|
|2016|  10|      460|0.21739|
|2016|  11|      443|0.22573|
|2016|  12|      367|    0.0|
|2016|  13|      404|0.24752|
|2016|  14|      440|    0.0|
|2016|  15|      453|    0.0|
|2016|  16|      458|    0.0|
|2016|  17|      520|    0.0|
|2016|  18|      377|    0.0|
|2016|  19|      429|    0.0|
|2016|  20|      508|    0.0|
|2016|  21|      428|0.46729|
|2016|  22|      470|    0.0|
|2016|  23|      417|    0.0|
|2016|  24|      372|    0.0|
|2016|  25|      410|    0.0|
|2016|  26|      419|0.23866|
|2016|  27|      426|    0.0|
|2016|  28|      389|    0.0|
|2016|  29|      459|    0.0|
|2016|  30|      461|    0.0|
|2016|  31|      443|    0.0|
|2016|  32|      421|0.23753|
|2016|  33|      396|    0.0|
|2016|  34|      418|    0.0|
|2016|  35|      370|    0.0|
|2016|  36|      424|0.23585|
|2016|  37|      388|    0.0|
|2016|  38|      436|    0.0|
|2016|  39|      413|    0.0|
|2016|  40|      401|    0.0|
|2016|  41|      383|    0.0|
|2016|  42|      357|0.56022|
|2016|  43|      403|0.24814|
|2016|  44|      426|    0.0|
|2016|  45|      391|    0.0|
|2016|  46|      357|0.28011|
|2016|  47|      384|0.26042|
|2016|  48|      378|0.26455|
|2016|  49|      398|    0.0|
|2016|  50|      398|    0.0|
|2016|  51|      396|    0.0|
|2016|  52|      434|    0.0|
|2016|  53|      319|0.31348|
|2017|   1|      111|    0.0|
+----+----+---------+-------+

Stats for Brooklyn

In [8]:
query3B = sc.sql("SELECT YEAR(DATE) AS YEAR, `week of year` AS WEEK, COUNT(*) AS ACCIDENTS, ROUND(AVG(`NUMBER OF PERSONS KILLED`)*100,5) AS `% KILLS` FROM accidentsQ3 WHERE (`NUMBER OF PERSONS KILLED` IS NOT NULL) AND (BOROUGH = 'BROOKLYN') GROUP BY YEAR(DATE),`week of year` ORDER BY YEAR(DATE),`week of year`")

query3B.show(query3B.count())

+----+----+---------+-------+
|YEAR|WEEK|ACCIDENTS|% KILLS|
+----+----+---------+-------+
|2012|   1|      218|0.45872|
|2012|  27|      931|0.21482|
|2012|  28|      910|0.10989|
|2012|  29|      832|0.12019|
|2012|  30|      899|0.11123|
|2012|  31|      795|0.12579|
|2012|  32|      923|0.32503|
|2012|  33|      886|    0.0|
|2012|  34|      815| 0.1227|
|2012|  35|      945|0.10582|
|2012|  36|      963|0.10384|
|2012|  37|      931|0.10741|
|2012|  38|      798|0.25063|
|2012|  39|      869|0.23015|
|2012|  40|      814|0.12285|
|2012|  41|      888|    0.0|
|2012|  42|      958|    0.0|
|2012|  43|      891|0.22447|
|2012|  44|      684|    0.0|
|2012|  45|      915|    0.0|
|2012|  46|      980|0.30612|
|2012|  47|      855|    0.0|
|2012|  48|      855|0.23392|
|2012|  49|      984|0.10163|
|2012|  50|      974|0.10267|
|2012|  51|      975|0.41026|
|2012|  52|      810|0.12346|
|2013|   1|      898|0.55679|
|2013|   2|      871|0.11481|
|2013|   3|      794|    0.0|
|2013|   4|      847|0.35419|
|2013|   5|      869|0.23015|
|2013|   6|      916|    0.0|
|2013|   7|      829|0.12063|
|2013|   8|      778|0.25707|
|2013|   9|      834|    0.0|
|2013|  10|      938|0.63966|
|2013|  11|      850|    0.0|
|2013|  12|      817| 0.1224|
|2013|  13|      738|    0.0|
|2013|  14|      825|0.36364|
|2013|  15|      941|    0.0|
|2013|  16|      885|0.11299|
|2013|  17|      904|0.11062|
|2013|  18|      974|    0.0|
|2013|  19|     1009|0.09911|
|2013|  20|      875|    0.0|
|2013|  21|     1010|0.09901|
|2013|  22|      987|0.20263|
|2013|  23|     1009|    0.0|
|2013|  24|     1004| 0.2988|
|2013|  25|     1057|    0.0|
|2013|  26|      991|    0.0|
|2013|  27|      923|0.10834|
|2013|  28|      917| 0.2181|
|2013|  29|      921|    0.0|
|2013|  30|      847|0.35419|
|2013|  31|      899|    0.0|
|2013|  32|      835|0.11976|
|2013|  33|      898|0.55679|
|2013|  34|      869|0.23015|
|2013|  35|      877|0.22805|
|2013|  36|      881|    0.0|
|2013|  37|      957|    0.0|
|2013|  38|      896|0.33482|
|2013|  39|      824|0.12136|
|2013|  40|      945|    0.0|
|2013|  41|      879|0.22753|
|2013|  42|      888|0.11261|
|2013|  43|      934|0.42827|
|2013|  44|      901|0.22198|
|2013|  45|      945|    0.0|
|2013|  46|      889|    0.0|
|2013|  47|      964|0.10373|
|2013|  48|      981|0.20387|
|2013|  49|      897|    0.0|
|2013|  50|      962|0.10395|
|2013|  51|     1035|    0.0|
|2013|  52|      793| 0.1261|
|2014|   1|      859|0.11641|
|2014|   2|      848|0.23585|
|2014|   3|      868|0.11521|
|2014|   4|      938|    0.0|
|2014|   5|      938|0.10661|
|2014|   6|      966|0.31056|
|2014|   7|      944|0.21186|
|2014|   8|      827|    0.0|
|2014|   9|      831|0.12034|
|2014|  10|      797|0.12547|
|2014|  11|      882|0.11338|
|2014|  12|      860|0.34884|
|2014|  13|      845|0.11834|
|2014|  14|      924|0.21645|
|2014|  15|      958|0.10438|
|2014|  16|      789|0.12674|
|2014|  17|      806|0.12407|
|2014|  18|      962|0.10395|
|2014|  19|      903|0.33223|
|2014|  20|      997|    0.0|
|2014|  21|      923|0.43337|
|2014|  22|      941|0.21254|
|2014|  23|     1007| 0.0993|
|2014|  24|      951| 0.2103|
|2014|  25|     1049|    0.0|
|2014|  26|      996| 0.2008|
|2014|  27|      957|0.20899|
|2014|  28|      922|0.10846|
|2014|  29|      853|0.23447|
|2014|  30|      913|0.21906|
|2014|  31|      937|0.10672|
|2014|  32|      902|    0.0|
|2014|  33|      862|0.11601|
|2014|  34|      854| 0.1171|
|2014|  35|      891|0.11223|
|2014|  36|     1024|0.19531|
|2014|  37|      981|0.10194|
|2014|  38|      984|0.10163|
|2014|  39|      909|0.11001|
|2014|  40|      950|    0.0|
|2014|  41|      902|0.11086|
|2014|  42|      840|    0.0|
|2014|  43|     1056| 0.0947|
|2014|  44|     1019|0.29441|
|2014|  45|      969| 0.1032|
|2014|  46|      890|    0.0|
|2014|  47|      977|0.20471|
|2014|  48|      860|    0.0|
|2014|  49|      913|0.21906|
|2014|  50|      996| 0.1004|
|2014|  51|      937|0.21345|
|2014|  52|      834| 0.1199|
|2015|   1|      914|    0.0|
|2015|   2|      978| 0.2045|
|2015|   3|      823|    0.0|
|2015|   4|      952|    0.0|
|2015|   5|      800|    0.0|
|2015|   6|     1054|    0.0|
|2015|   7|      952|0.21008|
|2015|   8|      888|0.22523|
|2015|   9|      604|0.33113|
|2015|  10|     1205|    0.0|
|2015|  11|      957|0.10449|
|2015|  12|      902|0.11086|
|2015|  13|      898|0.11136|
|2015|  14|      886|    0.0|
|2015|  15|      755|    0.0|
|2015|  16|      938|0.21322|
|2015|  17|     1001| 0.0999|
|2015|  18|      948|0.21097|
|2015|  19|     1017|0.09833|
|2015|  20|     1090|0.18349|
|2015|  21|      986|0.20284|
|2015|  22|     1038|0.28902|
|2015|  23|     1028|0.19455|
|2015|  24|      900|    0.0|
|2015|  25|      962|0.10395|
|2015|  26|     1151|0.17376|
|2015|  27|      926|0.32397|
|2015|  28|      999| 0.1001|
|2015|  29|      975|0.10256|
|2015|  30|      917|    0.0|
|2015|  31|     1019|0.09814|
|2015|  32|     1058|0.09452|
|2015|  33|     1005|  0.199|
|2015|  34|     1009|0.19822|
|2015|  35|      938|0.21322|
|2015|  36|     1100|    0.0|
|2015|  37|     1079|0.18536|
|2015|  38|     1052|    0.0|
|2015|  39|      970|    0.0|
|2015|  40|      943|0.10604|
|2015|  41|     1010|    0.0|
|2015|  42|     1041|0.19212|
|2015|  43|     1090|0.18349|
|2015|  44|     1038|    0.0|
|2015|  45|      960|0.20833|
|2015|  46|      989|0.20222|
|2015|  47|     1108|0.27076|
|2015|  48|      939|0.21299|
|2015|  49|     1005|0.29851|
|2015|  50|      926|0.21598|
|2015|  51|     1152|0.17361|
|2015|  52|      944|0.21186|
|2016|   1|      203|    0.0|
|2016|   2|     1016|    0.0|
|2016|   3|      988|0.10121|
|2016|   4|      992|0.10081|
|2016|   5|     1058|0.09452|
|2016|   6|     1081|0.27752|
|2016|   7|      902|    0.0|
|2016|   8|      780|    0.0|
|2016|   9|      879|    0.0|
|2016|  10|      991|0.10091|
|2016|  11|      995|    0.0|
|2016|  12|      947|    0.0|
|2016|  13|      968|    0.0|
|2016|  14|     1057|    0.0|
|2016|  15|     1046| 0.0956|
|2016|  16|     1109|0.18034|
|2016|  17|     1149|0.08703|
|2016|  18|      828|    0.0|
|2016|  19|     1070|0.28037|
|2016|  20|     1033|0.09681|
|2016|  21|      939|    0.0|
|2016|  22|      964|0.10373|
|2016|  23|      920|    0.0|
|2016|  24|      843|0.11862|
|2016|  25|      790|0.12658|
|2016|  26|      974|0.10267|
|2016|  27|      930|    0.0|
|2016|  28|      821|    0.0|
|2016|  29|      841|    0.0|
|2016|  30|      945|    0.0|
|2016|  31|      896|    0.0|
|2016|  32|      841|0.23781|
|2016|  33|      803|    0.0|
|2016|  34|      837|0.11947|
|2016|  35|      874|    0.0|
|2016|  36|      829|    0.0|
|2016|  37|      827|0.12092|
|2016|  38|      905| 0.1105|
|2016|  39|      834|    0.0|
|2016|  40|      881|    0.0|
|2016|  41|      830|    0.0|
|2016|  42|      855|    0.0|
|2016|  43|      815|    0.0|
|2016|  44|      854|    0.0|
|2016|  45|      928|    0.0|
|2016|  46|      809|    0.0|
|2016|  47|      943|0.10604|
|2016|  48|      790|    0.0|
|2016|  49|      905| 0.1105|
|2016|  50|      810|0.12346|
|2016|  51|      891|    0.0|
|2016|  52|      849|0.23557|
|2016|  53|      641|0.15601|
|2017|   1|      243|1.23457|
+----+----+---------+-------+

Stats for Manhattan

In [9]:
query3C = sc.sql("SELECT YEAR(DATE) AS YEAR, `week of year` AS WEEK, COUNT(*) AS ACCIDENTS, ROUND(AVG(`NUMBER OF PERSONS KILLED`)*100,5) AS `% KILLS` FROM accidentsQ3 WHERE (`NUMBER OF PERSONS KILLED` IS NOT NULL) AND (BOROUGH = 'MANHATTAN') GROUP BY YEAR(DATE),`week of year` ORDER BY YEAR(DATE),`week of year`")

query3C.show(query3C.count())

+----+----+---------+-------+
|YEAR|WEEK|ACCIDENTS|% KILLS|
+----+----+---------+-------+
|2012|   1|      184|    0.0|
|2012|  27|      799|    0.0|
|2012|  28|      776|0.12887|
|2012|  29|      852|    0.0|
|2012|  30|      897|    0.0|
|2012|  31|      832|0.24038|
|2012|  32|      828|0.24155|
|2012|  33|      830|    0.0|
|2012|  34|      757| 0.1321|
|2012|  35|      769|    0.0|
|2012|  36|      793|    0.0|
|2012|  37|      849|0.23557|
|2012|  38|      862|0.34803|
|2012|  39|      814|0.12285|
|2012|  40|      821| 0.1218|
|2012|  41|      799|0.12516|
|2012|  42|      902|    0.0|
|2012|  43|      749|0.13351|
|2012|  44|      504|0.19841|
|2012|  45|      702|0.14245|
|2012|  46|      843|    0.0|
|2012|  47|      672|0.14881|
|2012|  48|      769|    0.0|
|2012|  49|      864|    0.0|
|2012|  50|      830|0.12048|
|2012|  51|      850|0.11765|
|2012|  52|      569|0.17575|
|2013|   1|      679|0.14728|
|2013|   2|      666|    0.0|
|2013|   3|      730|0.13699|
|2013|   4|      691|0.14472|
|2013|   5|      750|0.26667|
|2013|   6|      679|0.44183|
|2013|   7|      710|    0.0|
|2013|   8|      703|    0.0|
|2013|   9|      741|0.26991|
|2013|  10|      774| 0.1292|
|2013|  11|      787|0.12706|
|2013|  12|      714|    0.0|
|2013|  13|      716|    0.0|
|2013|  14|      719|0.13908|
|2013|  15|      814|    0.0|
|2013|  16|      829|0.12063|
|2013|  17|      748|    0.0|
|2013|  18|      838|0.11933|
|2013|  19|      857|    0.0|
|2013|  20|      830|    0.0|
|2013|  21|      935|    0.0|
|2013|  22|      826|    0.0|
|2013|  23|      862|0.46404|
|2013|  24|      883|    0.0|
|2013|  25|      875|    0.0|
|2013|  26|      897|0.11148|
|2013|  27|      727|0.13755|
|2013|  28|      825|    0.0|
|2013|  29|      835|    0.0|
|2013|  30|      839|    0.0|
|2013|  31|      847|0.47226|
|2013|  32|      774|    0.0|
|2013|  33|      834| 0.1199|
|2013|  34|      803|0.24907|
|2013|  35|      759|    0.0|
|2013|  36|      755|    0.0|
|2013|  37|      911|0.10977|
|2013|  38|      834|    0.0|
|2013|  39|      843|    0.0|
|2013|  40|      867|    0.0|
|2013|  41|      814|    0.0|
|2013|  42|      797|0.12547|
|2013|  43|      857|    0.0|
|2013|  44|      869|    0.0|
|2013|  45|      841|0.11891|
|2013|  46|      846| 0.1182|
|2013|  47|      851|0.11751|
|2013|  48|      805|0.49689|
|2013|  49|      832|    0.0|
|2013|  50|      878|    0.0|
|2013|  51|      831|0.24067|
|2013|  52|      650|    0.0|
|2014|   1|      614|0.16287|
|2014|   2|      678|0.29499|
|2014|   3|      756|0.13228|
|2014|   4|      770|0.25974|
|2014|   5|      728|    0.0|
|2014|   6|      749|    0.0|
|2014|   7|      744|    0.0|
|2014|   8|      699|    0.0|
|2014|   9|      734|    0.0|
|2014|  10|      648|    0.0|
|2014|  11|      708|0.14124|
|2014|  12|      764|    0.0|
|2014|  13|      723|0.13831|
|2014|  14|      781|    0.0|
|2014|  15|      828|0.12077|
|2014|  16|      742|0.13477|
|2014|  17|      795|    0.0|
|2014|  18|      860|0.11628|
|2014|  19|      849|0.23557|
|2014|  20|      919|0.10881|
|2014|  21|      855|    0.0|
|2014|  22|      795|    0.0|
|2014|  23|      923|0.10834|
|2014|  24|      840|    0.0|
|2014|  25|      869|    0.0|
|2014|  26|      835|    0.0|
|2014|  27|      778|0.12853|
|2014|  28|      771| 0.1297|
|2014|  29|      844|    0.0|
|2014|  30|      772|0.25907|
|2014|  31|      852|    0.0|
|2014|  32|      799|    0.0|
|2014|  33|      787|    0.0|
|2014|  34|      804|0.12438|
|2014|  35|      743|0.26918|
|2014|  36|      758|0.26385|
|2014|  37|      805|0.12422|
|2014|  38|      858|0.11655|
|2014|  39|      883|0.11325|
|2014|  40|      782|0.12788|
|2014|  41|      828|0.12077|
|2014|  42|      782|0.12788|
|2014|  43|      837|    0.0|
|2014|  44|      904|0.11062|
|2014|  45|      798|    0.0|
|2014|  46|      813|  0.123|
|2014|  47|      895|    0.0|
|2014|  48|      694|0.28818|
|2014|  49|      898|0.11136|
|2014|  50|      911|    0.0|
|2014|  51|      831|    0.0|
|2014|  52|      614|    0.0|
|2015|   1|      755|0.13245|
|2015|   2|      676|0.14793|
|2015|   3|      725|    0.0|
|2015|   4|      647|0.30912|
|2015|   5|      578|    0.0|
|2015|   6|      709|    0.0|
|2015|   7|      734|0.13624|
|2015|   8|      754|0.13263|
|2015|   9|      473|    0.0|
|2015|  10|      884|0.11312|
|2015|  11|      776|    0.0|
|2015|  12|      686|    0.0|
|2015|  13|      714|    0.0|
|2015|  14|      833|0.12005|
|2015|  15|      745|    0.0|
|2015|  16|      811|    0.0|
|2015|  17|      871|    0.0|
|2015|  18|      841|    0.0|
|2015|  19|      831|0.24067|
|2015|  20|      989|0.20222|
|2015|  21|      829|0.12063|
|2015|  22|      858|0.11655|
|2015|  23|      906|    0.0|
|2015|  24|      784|    0.0|
|2015|  25|      830|0.12048|
|2015|  26|      962|    0.0|
|2015|  27|      832|0.12019|
|2015|  28|      789|    0.0|
|2015|  29|      928|    0.0|
|2015|  30|      837|    0.0|
|2015|  31|      960|    0.0|
|2015|  32|      854|    0.0|
|2015|  33|      906|0.11038|
|2015|  34|      833|0.12005|
|2015|  35|      786|    0.0|
|2015|  36|      785|    0.0|
|2015|  37|      862|    0.0|
|2015|  38|      919|    0.0|
|2015|  39|      740|    0.0|
|2015|  40|      946|    0.0|
|2015|  41|      949|    0.0|
|2015|  42|      848|    0.0|
|2015|  43|      943|    0.0|
|2015|  44|      868|    0.0|
|2015|  45|      829|0.12063|
|2015|  46|      885|0.11299|
|2015|  47|      927|    0.0|
|2015|  48|      696|0.14368|
|2015|  49|      903|0.11074|
|2015|  50|      884|    0.0|
|2015|  51|      927|    0.0|
|2015|  52|      660|    0.0|
|2016|   1|      145|    0.0|
|2016|   2|      659|0.15175|
|2016|   3|      817| 0.2448|
|2016|   4|      717|    0.0|
|2016|   5|      753|    0.0|
|2016|   6|      786|    0.0|
|2016|   7|      754|0.39788|
|2016|   8|      744|    0.0|
|2016|   9|      793|    0.0|
|2016|  10|      818|0.12225|
|2016|  11|      786|    0.0|
|2016|  12|      795|0.25157|
|2016|  13|      705|0.28369|
|2016|  14|      828|    0.0|
|2016|  15|      877|    0.0|
|2016|  16|      819|    0.0|
|2016|  17|      897|    0.0|
|2016|  18|      679|    0.0|
|2016|  19|      784|    0.0|
|2016|  20|      810|0.12346|
|2016|  21|      889|    0.0|
|2016|  22|      706|    0.0|
|2016|  23|      648|    0.0|
|2016|  24|      621|0.32206|
|2016|  25|      656|0.30488|
|2016|  26|      704|    0.0|
|2016|  27|      737|0.27137|
|2016|  28|      590|    0.0|
|2016|  29|      710|    0.0|
|2016|  30|      738|    0.0|
|2016|  31|      754|    0.0|
|2016|  32|      630|0.15873|
|2016|  33|      618|    0.0|
|2016|  34|      683|    0.0|
|2016|  35|      652|0.30675|
|2016|  36|      594|0.16835|
|2016|  37|      605|    0.0|
|2016|  38|      709|0.28209|
|2016|  39|      626|    0.0|
|2016|  40|      625|   0.16|
|2016|  41|      624|0.64103|
|2016|  42|      604|0.16556|
|2016|  43|      664|    0.0|
|2016|  44|      667|    0.0|
|2016|  45|      728|    0.0|
|2016|  46|      635|    0.0|
|2016|  47|      727|    0.0|
|2016|  48|      569|    0.0|
|2016|  49|      660|    0.0|
|2016|  50|      676|0.14793|
|2016|  51|      662|0.15106|
|2016|  52|      537|    0.0|
|2016|  53|      407|    0.0|
|2017|   1|      166|    0.0|
+----+----+---------+-------+

Stats for Queens

In [10]:
query3D = sc.sql("SELECT YEAR(DATE) AS YEAR, `week of year` AS WEEK, COUNT(*) AS ACCIDENTS, ROUND(AVG(`NUMBER OF PERSONS KILLED`)*100,5) AS `% KILLS` FROM accidentsQ3 WHERE (`NUMBER OF PERSONS KILLED` IS NOT NULL) AND (BOROUGH = 'QUEENS') GROUP BY YEAR(DATE),`week of year` ORDER BY YEAR(DATE),`week of year`")

query3D.show(query3D.count())

+----+----+---------+-------+
|YEAR|WEEK|ACCIDENTS|% KILLS|
+----+----+---------+-------+
|2012|   1|      179|    0.0|
|2012|  27|      771| 0.1297|
|2012|  28|      670|    0.0|
|2012|  29|      752|0.26596|
|2012|  30|      742|0.67385|
|2012|  31|      704|    0.0|
|2012|  32|      729|    0.0|
|2012|  33|      701|    0.0|
|2012|  34|      643|0.31104|
|2012|  35|      733|    0.0|
|2012|  36|      709|    0.0|
|2012|  37|      792|    0.0|
|2012|  38|      711|0.28129|
|2012|  39|      756|0.13228|
|2012|  40|      738| 0.1355|
|2012|  41|      751|0.13316|
|2012|  42|      804|0.24876|
|2012|  43|      641|0.31201|
|2012|  44|      602|0.16611|
|2012|  45|      768|    0.0|
|2012|  46|      757|    0.0|
|2012|  47|      767|0.26076|
|2012|  48|      711|    0.0|
|2012|  49|      815|    0.0|
|2012|  50|      727|    0.0|
|2012|  51|      813|  0.123|
|2012|  52|      649|0.77042|
|2013|   1|      684| 0.1462|
|2013|   2|      695|0.43165|
|2013|   3|      695|0.28777|
|2013|   4|      733|0.13643|
|2013|   5|      707|0.42433|
|2013|   6|      770|0.12987|
|2013|   7|      705|0.28369|
|2013|   8|      618|0.32362|
|2013|   9|      635|0.15748|
|2013|  10|      798|0.12531|
|2013|  11|      718|0.13928|
|2013|  12|      743|0.13459|
|2013|  13|      726|    0.0|
|2013|  14|      694|0.14409|
|2013|  15|      774|    0.0|
|2013|  16|      697|0.14347|
|2013|  17|      743|0.13459|
|2013|  18|      766|0.13055|
|2013|  19|      720|    0.0|
|2013|  20|      797|0.37641|
|2013|  21|      843|    0.0|
|2013|  22|      800|  0.125|
|2013|  23|      829|    0.0|
|2013|  24|      772|0.12953|
|2013|  25|      758|    0.0|
|2013|  26|      785|    0.0|
|2013|  27|      722|    0.0|
|2013|  28|      739|0.27064|
|2013|  29|      847|0.11806|
|2013|  30|      762|0.26247|
|2013|  31|      758| 0.5277|
|2013|  32|      711|    0.0|
|2013|  33|      718|0.83565|
|2013|  34|      696|0.28736|
|2013|  35|      640|    0.0|
|2013|  36|      681|0.29369|
|2013|  37|      813|  0.369|
|2013|  38|      754|0.39788|
|2013|  39|      798|0.37594|
|2013|  40|      805|0.12422|
|2013|  41|      770|0.25974|
|2013|  42|      725|    0.0|
|2013|  43|      831|    0.0|
|2013|  44|      838|0.11933|
|2013|  45|      820|0.12195|
|2013|  46|      792|0.37879|
|2013|  47|      830|    0.0|
|2013|  48|      847|0.23613|
|2013|  49|      758|0.13193|
|2013|  50|      876|0.11416|
|2013|  51|      910|0.32967|
|2013|  52|      657|    0.0|
|2014|   1|      730|    0.0|
|2014|   2|      780|0.12821|
|2014|   3|      737|    0.0|
|2014|   4|      840|    0.0|
|2014|   5|      760|    0.0|
|2014|   6|      913|0.10953|
|2014|   7|      900|    0.0|
|2014|   8|      810|    0.0|
|2014|   9|      717|    0.0|
|2014|  10|      703|0.42674|
|2014|  11|      685|    0.0|
|2014|  12|      731|    0.0|
|2014|  13|      755|0.13245|
|2014|  14|      754| 0.5305|
|2014|  15|      772|    0.0|
|2014|  16|      686|    0.0|
|2014|  17|      744|0.26882|
|2014|  18|      814|0.12285|
|2014|  19|      785|    0.0|
|2014|  20|      790|0.12658|
|2014|  21|      763|0.39318|
|2014|  22|      777|    0.0|
|2014|  23|      858|0.34965|
|2014|  24|      787|0.38119|
|2014|  25|      875|    0.0|
|2014|  26|      869|    0.0|
|2014|  27|      789|0.38023|
|2014|  28|      799|0.12516|
|2014|  29|      749|0.13351|
|2014|  30|      760|0.13158|
|2014|  31|      790|0.63291|
|2014|  32|      788|    0.0|
|2014|  33|      773|0.12937|
|2014|  34|      688|0.14535|
|2014|  35|      795|0.12579|
|2014|  36|      796|    0.0|
|2014|  37|      833|0.12005|
|2014|  38|      843|0.23725|
|2014|  39|      780|0.12821|
|2014|  40|      854|    0.0|
|2014|  41|      782|    0.0|
|2014|  42|      812|0.12315|
|2014|  43|      854|    0.0|
|2014|  44|      833| 0.2401|
|2014|  45|      832|0.48077|
|2014|  46|      788|    0.0|
|2014|  47|      833|0.12005|
|2014|  48|      770|    0.0|
|2014|  49|      762|0.13123|
|2014|  50|      842|0.23753|
|2014|  51|      813|    0.0|
|2014|  52|      708|    0.0|
|2015|   1|      748|    0.0|
|2015|   2|      879|    0.0|
|2015|   3|      750|    0.4|
|2015|   4|      805|0.12422|
|2015|   5|      719|0.13908|
|2015|   6|      828|0.24155|
|2015|   7|      772|    0.0|
|2015|   8|      740|0.13514|
|2015|   9|      536|0.18657|
|2015|  10|     1063|    0.0|
|2015|  11|      769|    0.0|
|2015|  12|      744|0.13441|
|2015|  13|      738|    0.0|
|2015|  14|      748|    0.0|
|2015|  15|      607|    0.0|
|2015|  16|      761|0.13141|
|2015|  17|      747|0.26774|
|2015|  18|      800|   0.25|
|2015|  19|      840|0.11905|
|2015|  20|      815| 0.1227|
|2015|  21|      822|    0.0|
|2015|  22|      854|0.23419|
|2015|  23|      855|0.11696|
|2015|  24|      821|    0.0|
|2015|  25|      824|0.12136|
|2015|  26|      919|0.10881|
|2015|  27|      797|0.50188|
|2015|  28|      807|    0.0|
|2015|  29|      822|0.12165|
|2015|  30|      840| 0.2381|
|2015|  31|      907|0.11025|
|2015|  32|      814| 0.2457|
|2015|  33|      855|    0.0|
|2015|  34|      845|0.23669|
|2015|  35|      778|0.12853|
|2015|  36|      838|    0.0|
|2015|  37|      976|    0.0|
|2015|  38|      889|    0.0|
|2015|  39|      791|    0.0|
|2015|  40|      877|    0.0|
|2015|  41|      872|0.34404|
|2015|  42|      854|0.23419|
|2015|  43|      881|    0.0|
|2015|  44|      873| 0.2291|
|2015|  45|      753|0.39841|
|2015|  46|      859|    0.0|
|2015|  47|      890|    0.0|
|2015|  48|      782|0.12788|
|2015|  49|      825|    0.0|
|2015|  50|      795|0.37736|
|2015|  51|      902|0.22173|
|2015|  52|      842|    0.0|
|2016|   1|      198|    0.0|
|2016|   2|      827|    0.0|
|2016|   3|      845|    0.0|
|2016|   4|      813|  0.123|
|2016|   5|     1041|    0.0|
|2016|   6|      861|    0.0|
|2016|   7|      719|0.27816|
|2016|   8|      618|    0.0|
|2016|   9|      737|    0.0|
|2016|  10|      845|0.23669|
|2016|  11|      814|0.12285|
|2016|  12|      820|    0.0|
|2016|  13|      809|    0.0|
|2016|  14|      874|    0.0|
|2016|  15|      909|0.33003|
|2016|  16|      864|    0.0|
|2016|  17|      907|    0.0|
|2016|  18|      655|    0.0|
|2016|  19|      880|    0.0|
|2016|  20|      895| 0.3352|
|2016|  21|      817| 0.1224|
|2016|  22|      820|    0.0|
|2016|  23|      805|0.12422|
|2016|  24|      760|    0.0|
|2016|  25|      701|0.28531|
|2016|  26|      864|    0.0|
|2016|  27|      840|    0.0|
|2016|  28|      711|0.42194|
|2016|  29|      783|    0.0|
|2016|  30|      836|0.11962|
|2016|  31|      827|    0.0|
|2016|  32|      779|    0.0|
|2016|  33|      748|0.13369|
|2016|  34|      739|0.13532|
|2016|  35|      732|    0.0|
|2016|  36|      715|0.13986|
|2016|  37|      712|    0.0|
|2016|  38|      824|0.12136|
|2016|  39|      812|0.12315|
|2016|  40|      805|0.24845|
|2016|  41|      753|    0.0|
|2016|  42|      758|    0.0|
|2016|  43|      782|0.12788|
|2016|  44|      786|    0.0|
|2016|  45|      720|    0.0|
|2016|  46|      709|    0.0|
|2016|  47|      798|0.25063|
|2016|  48|      756|    0.0|
|2016|  49|      789|    0.0|
|2016|  50|      754|0.13263|
|2016|  51|      775|    0.0|
|2016|  52|      833|    0.0|
|2016|  53|      646|    0.0|
|2017|   1|      264|0.37879|
+----+----+---------+-------+

Stats for Staten Island

In [11]:
query3E = sc.sql("SELECT YEAR(DATE) AS YEAR, `week of year` AS WEEK, COUNT(*) AS ACCIDENTS, ROUND(AVG(`NUMBER OF PERSONS KILLED`)*100,5) AS `% KILLS` FROM accidentsQ3 WHERE (`NUMBER OF PERSONS KILLED` IS NOT NULL) AND (BOROUGH = 'STATEN ISLAND') GROUP BY YEAR(DATE),`week of year` ORDER BY YEAR(DATE),`week of year`")

query3E.show(query3E.count())

+----+----+---------+-------+
|YEAR|WEEK|ACCIDENTS|% KILLS|
+----+----+---------+-------+
|2012|   1|       38|    0.0|
|2012|  27|      180|    0.0|
|2012|  28|      166|    0.0|
|2012|  29|      164|    0.0|
|2012|  30|      181|0.55249|
|2012|  31|      184|0.54348|
|2012|  32|      189|    0.0|
|2012|  33|      191|    0.0|
|2012|  34|      185|    0.0|
|2012|  35|      198| 1.0101|
|2012|  36|      181|    0.0|
|2012|  37|      186|    0.0|
|2012|  38|      201|    0.0|
|2012|  39|      191|    0.0|
|2012|  40|      216|0.46296|
|2012|  41|      197|    0.0|
|2012|  42|      240|0.41667|
|2012|  43|      154|    0.0|
|2012|  44|      106| 0.9434|
|2012|  45|      187|0.53476|
|2012|  46|      210|    0.0|
|2012|  47|      190|    0.0|
|2012|  48|      181|    0.0|
|2012|  49|      202|    0.0|
|2012|  50|      178|    0.0|
|2012|  51|      225|0.88889|
|2012|  52|      181|0.55249|
|2013|   1|      141|    0.0|
|2013|   2|      188|    0.0|
|2013|   3|      171|    0.0|
|2013|   4|      194|    0.0|
|2013|   5|      160|  0.625|
|2013|   6|      194|    0.0|
|2013|   7|      187|    0.0|
|2013|   8|      178|    0.0|
|2013|   9|      168|    0.0|
|2013|  10|      219|    0.0|
|2013|  11|      171|    0.0|
|2013|  12|      199|    0.0|
|2013|  13|      156|    0.0|
|2013|  14|      161|    0.0|
|2013|  15|      189|    0.0|
|2013|  16|      157|    0.0|
|2013|  17|      175|    0.0|
|2013|  18|      224|    0.0|
|2013|  19|      204|    0.0|
|2013|  20|      167|    0.0|
|2013|  21|      217|    0.0|
|2013|  22|      216|    0.0|
|2013|  23|      205|    0.0|
|2013|  24|      198|    0.0|
|2013|  25|      231|    0.0|
|2013|  26|      212|    0.0|
|2013|  27|      126|    0.0|
|2013|  28|      134|    0.0|
|2013|  29|      117|    0.0|
|2013|  30|      100|    0.0|
|2013|  31|      118|    0.0|
|2013|  32|      115|0.86957|
|2013|  33|      122|    0.0|
|2013|  34|      124|    0.0|
|2013|  35|      101|    0.0|
|2013|  36|       99|    0.0|
|2013|  37|      134|    0.0|
|2013|  38|      121|    0.0|
|2013|  39|      169|    0.0|
|2013|  40|      137|    0.0|
|2013|  41|      130|    0.0|
|2013|  42|      114|    0.0|
|2013|  43|      143|    0.0|
|2013|  44|      165|    0.0|
|2013|  45|      159|    0.0|
|2013|  46|      136|    0.0|
|2013|  47|      128|    0.0|
|2013|  48|      132|    0.0|
|2013|  49|      131|    0.0|
|2013|  50|      182|0.54945|
|2013|  51|      162|    0.0|
|2013|  52|      114|0.87719|
|2014|   1|      127| 0.7874|
|2014|   2|      133|0.75188|
|2014|   3|      131|    0.0|
|2014|   4|      170|    0.0|
|2014|   5|      130|0.76923|
|2014|   6|      166|    0.0|
|2014|   7|      174|    0.0|
|2014|   8|      129|    0.0|
|2014|   9|      141|    0.0|
|2014|  10|      114|    0.0|
|2014|  11|      124|    0.0|
|2014|  12|      125|    0.0|
|2014|  13|      120|    0.0|
|2014|  14|      120|0.83333|
|2014|  15|      142|    0.0|
|2014|  16|       99|    0.0|
|2014|  17|      104|    0.0|
|2014|  18|      129|    0.0|
|2014|  19|      103|    0.0|
|2014|  20|      142|    0.0|
|2014|  21|      122|    0.0|
|2014|  22|       98|    0.0|
|2014|  23|      157|0.63694|
|2014|  24|      164|0.60976|
|2014|  25|      145|    0.0|
|2014|  26|      133|    0.0|
|2014|  27|      122|    0.0|
|2014|  28|      143|    0.0|
|2014|  29|      101| 0.9901|
|2014|  30|      111|    0.0|
|2014|  31|      121|0.82645|
|2014|  32|      121|    0.0|
|2014|  33|      124|    0.0|
|2014|  34|       86|    0.0|
|2014|  35|      112|    0.0|
|2014|  36|      140|    0.0|
|2014|  37|      129|    0.0|
|2014|  38|      134|    0.0|
|2014|  39|      125|    0.0|
|2014|  40|      129|    0.0|
|2014|  41|      133|    0.0|
|2014|  42|      133|    0.0|
|2014|  43|      143|    0.0|
|2014|  44|      127|    0.0|
|2014|  45|      127|    0.0|
|2014|  46|      129|0.77519|
|2014|  47|      130|    0.0|
|2014|  48|      104|    0.0|
|2014|  49|      124|    0.0|
|2014|  50|      113|    0.0|
|2014|  51|       97|    0.0|
|2014|  52|      112|0.89286|
|2015|   1|      110|    0.0|
|2015|   2|      152|    0.0|
|2015|   3|      121|    0.0|
|2015|   4|      139|    0.0|
|2015|   5|      101|    0.0|
|2015|   6|      126|    0.0|
|2015|   7|      121|    0.0|
|2015|   8|      122|    0.0|
|2015|   9|       71|    0.0|
|2015|  10|      161|0.62112|
|2015|  11|       95|    0.0|
|2015|  12|      100|    0.0|
|2015|  13|      101|    0.0|
|2015|  14|      112|    0.0|
|2015|  15|       89|    0.0|
|2015|  16|      101|    0.0|
|2015|  17|      127|    0.0|
|2015|  18|      117| 0.8547|
|2015|  19|      158|    0.0|
|2015|  20|      147|0.68027|
|2015|  21|      127|    0.0|
|2015|  22|      150|    0.0|
|2015|  23|      110|    0.0|
|2015|  24|      119|    0.0|
|2015|  25|      109|    0.0|
|2015|  26|      134|    0.0|
|2015|  27|      126|    0.0|
|2015|  28|      110|    0.0|
|2015|  29|      124|    0.0|
|2015|  30|      112|    0.0|
|2015|  31|      120|    0.0|
|2015|  32|      123|0.81301|
|2015|  33|      102|    0.0|
|2015|  34|      111| 0.9009|
|2015|  35|      132|    0.0|
|2015|  36|      108|    0.0|
|2015|  37|      118|    0.0|
|2015|  38|      118|0.84746|
|2015|  39|      119|0.84034|
|2015|  40|      125|    0.0|
|2015|  41|      136|2.20588|
|2015|  42|      129|    0.0|
|2015|  43|      123|    0.0|
|2015|  44|      123|    0.0|
|2015|  45|      107|    0.0|
|2015|  46|      134|0.74627|
|2015|  47|      164|    0.0|
|2015|  48|      126|    0.0|
|2015|  49|      115|    0.0|
|2015|  50|      145|    0.0|
|2015|  51|      145|0.68966|
|2015|  52|      124|    0.0|
|2016|   1|       16|    0.0|
|2016|   2|      122|    0.0|
|2016|   3|      146|1.36986|
|2016|   4|      125|    0.0|
|2016|   5|      185|    0.0|
|2016|   6|      169|    0.0|
|2016|   7|      100|    0.0|
|2016|   8|      102|0.98039|
|2016|   9|      131|    0.0|
|2016|  10|      126|0.79365|
|2016|  11|      126|    0.0|
|2016|  12|      116|    0.0|
|2016|  13|      132|    0.0|
|2016|  14|      125|    0.0|
|2016|  15|      114|    0.0|
|2016|  16|      153|0.65359|
|2016|  17|      133|    0.0|
|2016|  18|       94|    0.0|
|2016|  19|      133|    0.0|
|2016|  20|      165|0.60606|
|2016|  21|      123|    0.0|
|2016|  22|      142|    0.0|
|2016|  23|      133|    0.0|
|2016|  24|      123|    0.0|
|2016|  25|      124|    0.0|
|2016|  26|      143|    0.0|
|2016|  27|      138|    0.0|
|2016|  28|      116|    0.0|
|2016|  29|      168|    0.0|
|2016|  30|      123|    0.0|
|2016|  31|      119|    0.0|
|2016|  32|      113|    0.0|
|2016|  33|      136|    0.0|
|2016|  34|      109|    0.0|
|2016|  35|      109|0.91743|
|2016|  36|      112|    0.0|
|2016|  37|      100|    0.0|
|2016|  38|      121|    0.0|
|2016|  39|      152|    0.0|
|2016|  40|      126|0.79365|
|2016|  41|      135|    0.0|
|2016|  42|      124|0.80645|
|2016|  43|      145|    0.0|
|2016|  44|      128|    0.0|
|2016|  45|      135|    0.0|
|2016|  46|      121|    0.0|
|2016|  47|      106|    0.0|
|2016|  48|      113|    0.0|
|2016|  49|      150|    0.0|
|2016|  50|      130|    0.0|
|2016|  51|      141|    0.0|
|2016|  52|      137|    0.0|
|2016|  53|      100|    0.0|
|2017|   1|       32|    0.0|
+----+----+---------+-------+